@media screen and (min-width: 950px) {
  .not-front.admin-menu .site-header>.navigation-wrapper .navigation-inner .pane-menu-block-main-menu-second-level {
    top: 258px;
  }
  .search-form-extended .site-header>.navigation-wrapper .navigation-inner .pane-menu-block-main-menu-second-level {
    top: 232px;
  }
}

.search-form-extended.not-front .site-header .header-inner .pane-search-form,
.search-form-extended.page-search .site-header .header-inner .pane-search-form {
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.3);
  top: 64px;
}

@media screen and (max-width: 950px) {
  .search-form-extended.not-front .site-header .header-inner .pane-search-form,
  .search-form-extended.page-search .site-header .header-inner .pane-search-form {
    top: 148px;
  }

  .search-form-extended.not-front.mobile-search-is-open,
  .search-form-extended.page-search.mobile-search-is-open,
  .search-form-extended.not-front .site-header .header-inner .pane-search-form,
  .search-form-extended.page-search .site-header .header-inner .pane-search-form {
    box-shadow: none;
  }
}

.search-form-extended.not-front.admin-menu .site-header .header-inner .pane-search-form,
.search-form-extended.page-search.admin-menu .site-header .header-inner .pane-search-form {
  top: 93px;
}

.search-form-extended .header-inner .search-extended-button {
  display: none;
}

.search-form-extended.not-front.admin-menu .site-header > .navigation-wrapper {
  top: 175px;
}

.search-form-extended.not-front .site-header > .navigation-wrapper {
  top: 148px;
}

body.search-form-extended .ding2-site-template .site-header + .content-wrapper {
  margin-top: 70px;
}

body.search-form-extended.admin-menu .ding2-site-template .site-header + .content-wrapper {
  margin-top: 95px;
}

body.search-form-extended.front .ding2-site-template .site-header + .content-wrapper,
body.search-form-extended.page-search .ding2-site-template .site-header + .content-wrapper {
  margin-top: 0px;
}
